.form-component {
  .form-container {
    text-align: center;
  }
  form {
    width: 300px;
    margin: 0 auto;

    input[type="text"] {
      padding: 1px 10px;
      border-radius: 1px;
      border: none;
      font-size: 1.5rem;
      display: block;
      margin: 0 auto;
      width: 30vw;
      outline: none;
      text-align: center;
      background: rgb(218, 218, 218);
      position: absolute;
      top: 8%;
      left: 35%;
    }
    input[type="submit"] {
      transition: 0.5s;
      padding: 1px 10px;
      width: 5vw;
      margin-right: 5px;
      border-radius: 1px;
      border: none;
      background: rgba(17, 17, 17, 0.856);
      color: rgb(182, 182, 182);
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 10;
      position: relative;
      position: absolute;
      top: 8%;
      left: 35%;

      &:hover {
        transition: 0.5s;
        background: rgba(214, 140, 3, 0.897);
        color: black;
      }
    }
  }
  .result {
    position: absolute;
    top: 62%;
  }
  .btn-sort-container {
    margin: 8px auto;
    width: 220px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    position: absolute;
    top: 15%;
    left: 45%;
    color: rgb(182, 182, 182);

    #goodToBad {
      border-radius: 10px 0 0 10px;
    }
    #badToGood {
      border-radius: 0 10px 10px 0;
    }
    #goodToBad,
    #badToGood {
      background: rgba(17, 17, 17, 0.856);
      width: 110px;
      transition: 0.3s;
      position: relative;

      &:hover {
        background: rgba(214, 140, 3, 0.897);
      }
    }
    #goodToBad span {
      transform: translateY(-50%) rotate(-90deg);
      right: 18px;
    }
    #badToGood span {
      transform: translateY(-50%) rotate(90deg);
      left: 16px;
    }
    #goodToBad span,
    #badToGood span {
      position: absolute;
      top: 50%;
    }
  }
}
